<div class="bg-component">
    <div class="form">
        <mat-card class="card">
            <mat-card-title>Register Matter</mat-card-title>
            <hr>
            <mat-card-content>
                <div class="container">
                    <mat-form-field>
                        <input matInput required type="text" placeholder="Name Matter " />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required type="text" placeholder="School" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput required type="text" placeholder="Teacher" />
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button class="button colorButton" mat-raised-button>
                    Register
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>