<div class="bg-component">
    <div class="container bg-dark text-center card">
        <h2><span class="badge bg-light text-dark mat-card-title">Welcome User</span></h2>

        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Pepito Perez</mat-card-title>
                    <mat-card-subtitle>Rector</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/img_school.webp"
                    alt="school">
                <mat-card-content>
                    <p>
                        welcome to the website of our school
                    </p>
                </mat-card-content>
                
            </mat-card>         


        </div>
    </div>
</div>